@implements IDisposable

@inject NavigationManager NavigationManager

<div class="navbar">
    <div class="flex justify-content-center align-items-center w-100">
        <img src="assets/logo.png" alt="FreelanceManager Logo" class="border-radius-5" style="max-width: 100px;" />
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />


<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link fs-14 fb-bold" href="home" Match="NavLinkMatch.All">
                        <span class="e-icons e-home mr-8 fs-18"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link fs-14 fb-bold" href="projects">
                        <span class="e-icons e-folder mr-10 fs-16"></span> Projects
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link fs-14 fb-bold" href="Clients">
                        <span class="e-icons e-people mr-10 fs-16"></span> Clients
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link fs-14 fb-bold" href="Account/Manage/Index">
                        <span class="e-icons e-settings mr-10 fs-16"></span> Settings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link fs-14 fb-bold">
                            <span class="e-icons e-arrow-left mr-10 fs-16"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
