@page "/Account/Manage/ChangePassword"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using FreelanceManager.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<h4 class="mb-4">Change password</h4>
<StatusMessage Message="@message" />
<div class="row">
    <div class="col-xl-4">
        <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <SfTextBox Placeholder="Old Password" Type="InputType.Password" CssClass="e-outline"
                    FloatLabelType="FloatLabelType.Always" @bind-Value="Input.OldPassword" id="Input.OldPassword" />
                <ValidationMessage For="() => Input.OldPassword" class="text-danger small" />
            </div>
            <div class="form-floating mb-3">
                <SfTextBox Placeholder="New Password" Type="InputType.Password" CssClass="e-outline"
                    FloatLabelType="FloatLabelType.Always" @bind-Value="Input.NewPassword" id="Input.NewPassword" />
                <ValidationMessage For="() => Input.NewPassword" class="text-danger small" />
            </div>
            <div class="form-floating mb-3">
                <SfTextBox Placeholder="Confirm Password" Type="InputType.Password" CssClass="e-outline"
                    FloatLabelType="FloatLabelType.Always" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" />
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger small" />
            </div>
            <SfButton Type="submit" CssClass="e-primary w-100">Change Password</SfButton>
        </EditForm>
    </div>
</div>

@code {
    private string message;
    private ApplicationUser user = default!;
    private bool hasPassword;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        hasPassword = await UserManager.HasPasswordAsync(user);
        if (!hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/SetPassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await UserManager.ChangePasswordAsync(user, Input.OldPassword, Input.NewPassword);
        if (!changePasswordResult.Succeeded)
        {
            message = $"Error: {string.Join(",", changePasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        Logger.LogInformation("User changed their password successfully.");

        RedirectManager.RedirectToCurrentPageWithStatus("Your password has been changed", HttpContext);
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Current password")]
        public string OldPassword { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "New password")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm new password")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
