@inherits LayoutComponentBase
@layout FreelanceManager.Components.Layout.MainLayout

<h2 class="text-center text-color-purple fw-semibold py-3">Account Management</h2>
<hr class="mx-auto w-50 border-color-purple" />
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="sub-sidebar bg-white shadow-sm rounded p-3">
                <h5 class="text-secondary fw-bold">Account Settings</h5>
                <ManageNavMenu />
            </div>
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
