::placeholder {
    color: rgba(255, 255, 255, 0.5) !important; /* Tom mais claro */
    opacity: 1;
}
/* Alinhar melhor o botão no input-group */
.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    padding-right: 50px; /* Para garantir espaço ao botão */
    color: #fff; /* Texto branco para melhor contraste */
}

.input-group .sf-button {
    margin-left: -50px; /* Ajuste para alinhar bem com o input */
    z-index: 10; /* Para ficar sobre o input */
}
/* Estilização dos cards */
.card-custom {
    border-radius: 15px;
    padding: 30px;
    color: #e0e0e0;
    min-height: 200px;
    text-align: left;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
}

.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
}

.gradient-dark {
    background: linear-gradient(135deg, #252525, #312f41);
}

/* Ícones estilizados */
.icon-container {
    font-size: 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.icon-size{
    font-size: 24px;
}

/* Links personalizados */
.link-custom {
    color: #c3a6ff;
    text-decoration: none;
}

.link-custom:hover {
    text-decoration: underline;
    color: #d1b2ff;
}
.bg-purple{
    color: #735EAB;
}

/* Container dos cards */
.talent-card {
    background: linear-gradient(135deg, #252525, #312f41);
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    min-height: 100%;
}

/* Efeito ao passar o mouse */
.talent-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
}

/* Avatar */
.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #d1b2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto de classificação */
.rating {
    font-size: 14px;
    color: #c3a6ff;
}
/* Background transparente para o header */
header.sticky-top {
    background: rgba(29, 29, 28, 0.4); /* Fundo semi-transparente */
    backdrop-filter: blur(10px); /* Efeito vidro */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidade com Safari */
    transition: background 0.3s ease-in-out;
}
/* FAQ - Seção */
.faq-accordion {
background: transparent;
}

/* Itens do Accordion */
.accordion-item {
background-color: #252525; /* Cor base escura */
border: none;
border-radius: 10px;
margin-bottom: 10px;
overflow: hidden;
border:none;
}

/* Cabeçalho do Accordion */
.accordion-header {
border-radius: 10px;
border:none;
}

/* Botão do Accordion */
.accordion-button {
background: #252525; /* Fundo escuro padrão */
color: #fff;
font-weight: 600;
padding: 15px 20px;
box-shadow: none;
transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
border:none;
}

/* Hover e Focus */
.accordion-button:hover,
.accordion-button:focus {
background: #202020; /* Efeito hover */
color: #ffffff;
}

/* Estilo quando o item está aberto */
.accordion-button:not(.collapsed) {
background: #252525;
color: #fff;
font-weight: bold;
}
/* Ícone de seta */
.accordion-button::after {
background-color: transparent;
width: 30px;
height: 30px;
border:1px solid #6c757d;
color: #fff;
border-radius: 50%;
font-size: 16px;
transition: transform 0.3s ease-in-out;
}

/* Para o ícone quando aberto */
.accordion-button:not(.collapsed)::after {
background-color: #735EAB; /* Fundo roxo quando aberto */
content: "\f077";
font-family: "Font Awesome 5 Free";
background-image: none;
color: #1d1d1c;
transform: rotate(180deg);  /* Garantir centralização mesmo quando girado */
display: flex;
align-items: center;
justify-content: center;
border:none;
}

/* Corpo do Accordion */
.accordion-body {
background: #252525;
color: #ccc;
padding: 15px 20px;
font-size:14px
}